.active {
    border-bottom: 1px solid black;
}

.batul {
    margin: 25px;
}

.phone {
    display: none;
}

.big {
    display: block;
}

@media only screen and (max-width: 850px) {
    .big {
        display: none;
    }

    .phone {
        display: block;
    }
}

@media only screen and (max-width: 999px) {
    #brand {
        font-size: 15px;
    }
}

.nav-link,
.navbar {
    background-color: whitesmoke !important;
    text-align: center;
}

.batul {
    margin: 2px;
}


#brand {
    width: auto;
    color: black;
    text-decoration: none;
    font-family: 'Ephesis', cursive;
    letter-spacing: 1.5px;
    font-size: 35px;
    /* min-width: none; */
}

.navbar {
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 17px;
}