@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  width: 100vw !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 500;
}

.head {
  font-family: 'Playfair Display SC', serif;
  font-weight: 300;
}

p {
  font-family: 'Poppins', sans-serif;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display SC', serif; */



.contact {
  width: 75%;
}

.wishrow {
  width: 60%;
}

.cartrow {
  width: 80%;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: white;
  text-align: center;
}


.cartParent {
  width: 50%;
  flex-direction: column;
}

.font {
  font-size: 20px;
  font-weight: 500;
}



@media only screen and (max-width: 500px) {

  .form-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .cartrow {
    width: 100%;
  }

  .cartrow .item {
    width: 80%;
  }


  .form-container input,
  .contact,
  .info-wrap {
    width: 95% !important
  }

  .cartParent {
    width: 100%;
  }

  .wishrow {
    width: 100%;
  }

  .no-phone {
    display: none
  }
}